
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to read cat and user profiles
    match /users/{userId} {
      allow read: if true;
      // Allow a user to create their own profile.
      allow create: if request.auth != null && request.auth.uid == userId;
    }

    match /cats/{catId} {
      allow read: if true;
      // Allow any authenticated user to create a new cat listing.
      // The listerId must match the UID of the user making the request.
      allow create: if request.auth != null && request.resource.data.listerId == request.auth.uid;
    }
  }
}
