
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allows any authenticated user to create a profile, 
    // but only the user themselves can update their own profile.
    match /users/{userId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update: if request.auth != null && request.auth.uid == userId;
    }

    // Allows anyone to read cat listings.
    // Allows any authenticated user to create a new cat listing.
    match /cats/{catId} {
      allow read: if true;
      allow create: if request.auth != null;
    }
  }
}
