@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 207 90% 94%;
    --foreground: 210 40% 9.8%;
    --card: 207 90% 94%;
    --card-foreground: 210 40% 9.8%;
    --popover: 207 90% 94%;
    --popover-foreground: 210 40% 9.8%;
    --primary: 207 90% 68%;
    --primary-foreground: 210 40% 9.8%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9.8%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 39.8% 45.1%;
    --accent: 34 100% 65%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 40% 91.4%;
    --input: 210 40% 91.4%;
    --ring: 207 90% 68%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 40% 9.8%;
    --foreground: 210 40% 98%;
    --card: 210 40% 9.8%;
    --card-foreground: 210 40% 98%;
    --popover: 210 40% 9.8%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 90% 68%;
    --primary-foreground: 210 40% 9.8%;
    --secondary: 210 40% 17.9%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 17.9%;
    --muted-foreground: 210 40% 62.9%;
    --accent: 34 100% 65%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 40% 17.9%;
    --input: 210 40% 17.9%;
    --ring: 207 90% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
